*
{
    border: 1px dotted tomato;
}

body
{
    margin: 0 auto;
    max-width: 1000px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid tomato; 
}

.fotoHojaVida
{
    width: 150px;
    border-radius: 100px;
    border: 15px solid #FFDC0D;
    vertical-align: text-top;
}

.nombreHeader
{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFDC0D;
}

.subtituloNombreHeader
{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
