html
{
    display: flex;
    justify-content: center;
    background-color: #000;
}

*
{
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    text-decoration: none;
    list-style: none;
}

body
{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 60%;
    background-color: #fff;
    width: 120vh;
}

section.izquierda >article:first-child > img
{
    width: 120px;
    height: 120px;
    border: 15px solid yellow;
    border-radius: 100%;
}

section.izquierda > article > h1
{
    font-size: 35px;
    color: yellow;
}

section.izquierda > article > h2
{
    font-size: 15px;
    font-weight: bold;
}

section.izquierda >article:nth-child(2n)
{
    display: grid;
    grid-template-columns: 30% 70%;
}