html
{
    display: flex;
    justify-content: center;
    background-color: #000;
}

*
{
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    text-decoration: none;
    list-style: none;
}

body
{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 60%;
    background-color: #fff;
    width: 120vh;
}

section.izquierda
{
    padding-left: 60px;
    padding-top: 80px;
}

section.izquierda >article:first-child > img
{
    width: 120px;
    height: 120px;
    border: 15px solid yellow;
    border-radius: 100%;
}

section.izquierda > article > h1
{
    font-size: 35px;
    color: yellow;
}

section.izquierda > article:nth-child(1n) > h2
{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

section.izquierda >article:nth-child(2n)
{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 20px 0;
}

section.izquierda >article:nth-child(2n) > p 
{
    font-size: 14px;
}

section.izquierda >article:nth-child(2n) > p > span.amarillo
{
    color: yellow;
}

section.izquierda > article:nth-child(2n) > p
{
    grid-column-start: 2;
}

section.izquierda > article:nth-child(2n) > img
{
    grid-column-start: 1;
}

section.izquierda > article:nth-child(2n) > p:nth-child(1n), section.izquierda > article:nth-child(2n) > p:nth-child(2n)
{
    border-bottom: 1px solid yellow;
}
